{% extends 'api/base.html' %}

{% block body %}
<div class="container">
  <div class="card mt-5">
    <div class="card-header text-center py-3">
      <h1>Tiny URLs generator <i class="fas fa-link px-2"></i></h1>
    </div>
    <div class="px-3 py-4">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="row g-1">
          <div class="col-10">{{form.original_url}}</div>
          <div class="col-2">
            <button class="btn btn-success btn-lg w-100" type="submit">
              Generate
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% if errors %}
  <div class="alert alert-danger mt-4" role="alert">
    <p>{{errors}}</p>
  </div>
  {% endif %}

  {% if shorten_url %}

  <div class="mx-auto text-center mt-5">
    <h2 class="text-danger">Your shortened URL</h2>
    <p class="">{{shorten_url}}</p>
    <p><span class="text-danger">Previous URL:</span> {{original_url}}</p>
  </div>
  {% endif %}
</div>
{% endblock body %}
